# Problem Statement

## Business Problem Overview
In the telecom industry, customers are able to choose from multiple service providers and actively switch from one operator to another. In this highly competitive market, the telecommunications industry experiences an average of 15-25% annual churn rate. Given the fact that it costs 5-10 times more to acquire a new customer than to retain an existing one, customer retention has now become even more important than customer acquisition.

 

For many incumbent operators, retaining high profitable customers is the number one business goal.

 

To reduce customer churn, telecom companies need to predict which customers are at high risk of churn.

 

In this project, you will analyse customer-level data of a leading telecom firm, build predictive models to identify customers at high risk of churn and identify the main indicators of churn.

## Understanding the Business Objective and the Data
The dataset contains customer-level information for a span of four consecutive months - June, July, August and September. The months are encoded as 6, 7, 8 and 9, respectively. 


The business objective is to predict the churn in the last (i.e. the ninth) month using the data (features) from the first three months. To do this task well, understanding the typical customer behaviour during churn will be helpful.

## Understanding Customer Behaviour During Churn
Customers usually do not decide to switch to another competitor instantly, but rather over a period of time (this is especially applicable to high-value customers). In churn prediction, we assume that there are three phases of customer lifecycle :

The ‘good’ phase: In this phase, the customer is happy with the service and behaves as usual.

The ‘action’ phase: The customer experience starts to sore in this phase, for e.g. he/she gets a compelling offer from a  competitor, faces unjust charges, becomes unhappy with service quality etc. In this phase, the customer usually shows different behaviour than the ‘good’ months. Also, it is crucial to identify high-churn-risk customers in this phase, since some corrective actions can be taken at this point (such as matching the competitor’s offer/improving the service quality etc.)

The ‘churn’ phase: In this phase, the customer is said to have churned. You define churn based on this phase. Also, it is important to note that at the time of prediction (i.e. the action months), this data is not available to you for prediction. Thus, after tagging churn as 1/0 based on this phase, you discard all data corresponding to this phase.

 

In this case, since you are working over a four-month window, the first two months are the ‘good’ phase, the third month is the ‘action’ phase, while the fourth month is the ‘churn’ phase.

# Imports & Data Loading

In [86]:
# Import the required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [87]:
# Read the data
cust = pd.read_csv("data/telecom_churn_data.csv")

In [88]:
cust.shape

(99999, 226)

In [89]:
cust.head()

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,last_date_of_month_9,arpu_6,...,sachet_3g_9,fb_user_6,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g
0,7000842753,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,197.385,...,0,1.0,1.0,1.0,NaN,968,30.4,0.0,101.20,3.58
1,7001865778,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,34.047,...,0,NaN,1.0,1.0,NaN,1006,0.0,0.0,0.00,0.00
2,7001625959,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,167.690,...,0,NaN,NaN,NaN,1.0,1103,0.0,0.0,4.17,0.00
3,7001204172,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,221.338,...,0,NaN,NaN,NaN,NaN,2491,0.0,0.0,0.00,0.00
4,7000142493,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,261.636,...,0,0.0,NaN,NaN,NaN,1526,0.0,0.0,0.00,0.00

In [90]:
cust.head().to_csv("sample_10.csv")
cust.head().T.to_csv("sample_10_T.csv")

In [91]:
cust.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99999 entries, 0 to 99998
Columns: 226 entries, mobile_number to sep_vbc_3g
dtypes: float64(179), int64(35), object(12)
memory usage: 172.4+ MB

# Utility Methods

## Check for missing values in a dataframe

In [92]:
# Check for missing values in the dataframe and print them
def print_missing_columns(input_df):
    # Print missing percentage of only columns with missing values
    missing_columns = input_df.columns[input_df.isnull().any()]
    if not missing_columns.empty:
        missing_count = input_df[missing_columns].isnull().sum()
        missing_col_type = pd.Series([type(col) for col in input_df[missing_columns]],index = missing_columns) 
        unique_count = input_df[missing_columns].nunique()

        missing_df = pd.concat({
                        "Missing": missing_count, 
                        "Missing %": missing_count/len(input_df.index)*100,
                        "Type": missing_col_type,
                        "Unique Count": unique_count
                       } , 
                       axis = 1).sort_values(by = 'Missing', ascending = False)

        display(missing_df)
    else:
        display("NO MISSING VALUES IN THE DATAFRAME")

# Data Preprocessing

In [93]:
rech_cols = [col for col in cust.columns if 'rech_'in col]
rech_cols

['total_rech_num_6',
 'total_rech_num_7',
 'total_rech_num_8',
 'total_rech_num_9',
 'total_rech_amt_6',
 'total_rech_amt_7',
 'total_rech_amt_8',
 'total_rech_amt_9',
 'max_rech_amt_6',
 'max_rech_amt_7',
 'max_rech_amt_8',
 'max_rech_amt_9',
 'date_of_last_rech_6',
 'date_of_last_rech_7',
 'date_of_last_rech_8',
 'date_of_last_rech_9',
 'date_of_last_rech_data_6',
 'date_of_last_rech_data_7',
 'date_of_last_rech_data_8',
 'date_of_last_rech_data_9',
 'total_rech_data_6',
 'total_rech_data_7',
 'total_rech_data_8',
 'total_rech_data_9',
 'max_rech_data_6',
 'max_rech_data_7',
 'max_rech_data_8',
 'max_rech_data_9',
 'count_rech_2g_6',
 'count_rech_2g_7',
 'count_rech_2g_8',
 'count_rech_2g_9',
 'count_rech_3g_6',
 'count_rech_3g_7',
 'count_rech_3g_8',
 'count_rech_3g_9',
 'av_rech_amt_data_6',
 'av_rech_amt_data_7',
 'av_rech_amt_data_8',
 'av_rech_amt_data_9']

In [94]:
cust[['total_rech_amt_6','total_rech_num_6','max_rech_amt_6','count_rech_2g_6','count_rech_3g_6','av_rech_amt_data_6']]

,total_rech_amt_6,total_rech_num_6,max_rech_amt_6,count_rech_2g_6,count_rech_3g_6,av_rech_amt_data_6
0,362,4,252,0.0,1.0,252.0
1,74,4,44,NaN,NaN,NaN
2,168,5,86,NaN,NaN,NaN
3,230,10,60,NaN,NaN,NaN
4,196,5,56,1.0,0.0,56.0
5,120,2,120,NaN,NaN,NaN
6,499,15,90,NaN,NaN,NaN
7,1580,5,1580,NaN,NaN,NaN
8,437,19,90,NaN,NaN,NaN
9,220,4,110,NaN,NaN,NaN
10,0,1,0,NaN,NaN,NaN
11,366,6,110,NaN,NaN,NaN
12,110,2,110,NaN,NaN,NaN
13,507,6,110,NaN,NaN,NaN
14,60,7,10,NaN,NaN,NaN
15,0,1,0,NaN,NaN,NaN
16,570,10,110,NaN,NaN,NaN
17,816,19,110,NaN,NaN,NaN
18,0,1,0,NaN,NaN,NaN
19,154,2,154,1.0,0.0,154.0
20,437,6,250,NaN,NaN,NaN
21,600,22,50,NaN,NaN,NaN
22,255,4,110,NaN,NaN,NaN
23,0,3,0,NaN,NaN,NaN
24,440,5,110,NaN,NaN,NaN
25,256,5,110,NaN,NaN,NaN
26,0,0,0,NaN,NaN,NaN
27,60,4,60,NaN,NaN,NaN
28,90,3,50,NaN,NaN,NaN
29,196,8,50,NaN,NaN,NaN
...,...,...,...,...,...,...
99969,148,5,46,3.0,0.0,138.0
99970,337,11,90,1.0,0.0,23.0
99971,110,1,110,NaN,NaN,NaN
99972,0,1,0,NaN,NaN,NaN
99973,27,1,27,NaN,NaN,NaN
99974,520,8,120,NaN,NaN,NaN
99975,120,4,50,NaN,NaN,NaN
99976,214,4,99,NaN,NaN,NaN
99977,40,4,20,NaN,NaN,NaN
99978,0,1,0,NaN,NaN,NaN
99979,0,2,0,NaN,NaN,NaN
99980,636,19,110,1.0,0.0,23.0
99981,252,2,252,0.0,1.0,252.0
99982,154,4,154,1.0,0.0,154.0
99983,220,23,10,NaN,NaN,NaN
99984,360,8,154,1.0,0.0,154.0
99985,97,1,97,NaN,NaN,NaN
99986,567,6,550,1.0,0.0,17.0
99987,193,15,30,1.0,0.0,14.0
99988,380,12,50,NaN,NaN,NaN
99989,236,4,71,NaN,NaN,NaN
99990,40,4,20,NaN,NaN,NaN
99991,120,3,60,NaN,NaN,NaN
99992,60,3,30,NaN,NaN,NaN
99993,0,0,0,NaN,NaN,NaN
99994,60,2,60,NaN,NaN,NaN
99995,110,5,110,NaN,NaN,NaN
99996,119,5,50,2.0,0.0,39.0
99997,381,3,202,1.0,2.0,583.0
99998,710,5,175,1.0,0.0,154.0

## Check for missing data

In [95]:
print_missing_columns(cust)

                          Missing  Missing %           Type  Unique Count
count_rech_2g_6             74846  74.846748  <class 'str'>            31
max_rech_data_6             74846  74.846748  <class 'str'>            48
arpu_3g_6                   74846  74.846748  <class 'str'>          7418
av_rech_amt_data_6          74846  74.846748  <class 'str'>           887
count_rech_3g_6             74846  74.846748  <class 'str'>            25
night_pck_user_6            74846  74.846748  <class 'str'>             2
arpu_2g_6                   74846  74.846748  <class 'str'>          6990
fb_user_6                   74846  74.846748  <class 'str'>             2
total_rech_data_6           74846  74.846748  <class 'str'>            37
date_of_last_rech_data_6    74846  74.846748  <class 'str'>            30
count_rech_3g_7             74428  74.428744  <class 'str'>            28
arpu_3g_7                   74428  74.428744  <class 'str'>          7246
av_rech_amt_data_7          74428  74.428744  <class 'str'>           961
fb_user_7                   74428  74.428744  <class 'str'>             2
total_rech_data_7           74428  74.428744  <class 'str'>            42
count_rech_2g_7             74428  74.428744  <class 'str'>            36
arpu_2g_7                   74428  74.428744  <class 'str'>          6586
night_pck_user_7            74428  74.428744  <class 'str'>             2
max_rech_data_7             74428  74.428744  <class 'str'>            48
date_of_last_rech_data_7    74428  74.428744  <class 'str'>            31
date_of_last_rech_data_9    74077  74.077741  <class 'str'>            30
count_rech_2g_9             74077  74.077741  <class 'str'>            32
total_rech_data_9           74077  74.077741  <class 'str'>            37
count_rech_3g_9             74077  74.077741  <class 'str'>            27
max_rech_data_9             74077  74.077741  <class 'str'>            50
av_rech_amt_data_9          74077  74.077741  <class 'str'>           945
arpu_3g_9                   74077  74.077741  <class 'str'>          8063
fb_user_9                   74077  74.077741  <class 'str'>             2
night_pck_user_9            74077  74.077741  <class 'str'>             2
arpu_2g_9                   74077  74.077741  <class 'str'>          6795
...                           ...        ...            ...           ...
std_og_t2m_mou_7             3859   3.859039  <class 'str'>         20018
std_og_t2f_mou_7             3859   3.859039  <class 'str'>          2391
std_og_t2c_mou_7             3859   3.859039  <class 'str'>             1
roam_ic_mou_7                3859   3.859039  <class 'str'>          5230
isd_og_mou_7                 3859   3.859039  <class 'str'>          1380
spl_og_mou_7                 3859   3.859039  <class 'str'>          4396
og_others_7                  3859   3.859039  <class 'str'>           187
loc_ic_t2t_mou_7             3859   3.859039  <class 'str'>         13511
loc_ic_t2m_mou_7             3859   3.859039  <class 'str'>         21918
offnet_mou_7                 3859   3.859039  <class 'str'>         31023
loc_ic_mou_7                 3859   3.859039  <class 'str'>         28390
std_ic_t2t_mou_7             3859   3.859039  <class 'str'>          6481
std_ic_t2m_mou_7             3859   3.859039  <class 'str'>          9464
std_ic_t2f_mou_7             3859   3.859039  <class 'str'>          3209
std_ic_t2o_mou_7             3859   3.859039  <class 'str'>             1
std_ic_mou_7                 3859   3.859039  <class 'str'>         11889
spl_ic_mou_7                 3859   3.859039  <class 'str'>           107
isd_ic_mou_7                 3859   3.859039  <class 'str'>          5789
ic_others_7                  3859   3.859039  <class 'str'>          2002
onnet_mou_7                  3859   3.859039  <class 'str'>         24336
loc_og_t2t_mou_7             3859   3.859039  <class 'str'>         13411
date_of_last_rech_8          3622   3.622036  <class 'str'>            31
date_of_last_rech_7          1767   1.767018  <class 'str'>            31
last_date_of_month_9         1659   1.659017  <class 'str'>             1
date_of_last_rech_6          1607   1.607016  <class 'str'>            30
last_date_of_month_8         1100   1.100011  <class 'str'>             1
std_og_t2o_mou               1018   1.018010  <class 'str'>             1
loc_ic_t2o_mou               1018   1.018010  <class 'str'>             1
loc_og_t2o_mou               1018   1.018010  <class 'str'>             1
last_date_of_month_7          601   0.601006  <class 'str'>             1

[166 rows x 4 columns]

## Handle missing data

### Replace missing with 0
Missing 'incoming' & 'outgoing' call related columns can be set to 0 assuming there were no calls received/made for that column type

In [96]:
cust.columns

Index(['mobile_number', 'circle_id', 'loc_og_t2o_mou', 'std_og_t2o_mou',
       'loc_ic_t2o_mou', 'last_date_of_month_6', 'last_date_of_month_7',
       'last_date_of_month_8', 'last_date_of_month_9', 'arpu_6',
       ...
       'sachet_3g_9', 'fb_user_6', 'fb_user_7', 'fb_user_8', 'fb_user_9',
       'aon', 'aug_vbc_3g', 'jul_vbc_3g', 'jun_vbc_3g', 'sep_vbc_3g'],
      dtype='object', length=226)

In [97]:
# Incoming calls column:
# All columns with incoming call information have the string "ic_" in the column name
# Fill the missing values in these columns with 0
incoming_cols = [col for col in cust.columns if 'ic_' in col]
cust[incoming_cols] = cust[incoming_cols].fillna(0)
print(f'Replaced missing values with 0 for {len(incoming_cols)} incoming columns:{incoming_cols}')

# Outgoing calls column:
# All columns with outgoing call information have the string "og_" in the column name
# Fill the missing values in these columns with 0
outcoming_cols = [col for col in cust.columns if 'og_' in col]
cust[outcoming_cols] = cust[outcoming_cols].fillna(0)
print(f'\nReplaced missing values with 0 for {len(outcoming_cols)} outgoing columns:{outcoming_cols}')

Replaced missing values with 0 for 57 incoming columns:['loc_ic_t2o_mou', 'roam_ic_mou_6', 'roam_ic_mou_7', 'roam_ic_mou_8', 'roam_ic_mou_9', 'loc_ic_t2t_mou_6', 'loc_ic_t2t_mou_7', 'loc_ic_t2t_mou_8', 'loc_ic_t2t_mou_9', 'loc_ic_t2m_mou_6', 'loc_ic_t2m_mou_7', 'loc_ic_t2m_mou_8', 'loc_ic_t2m_mou_9', 'loc_ic_t2f_mou_6', 'loc_ic_t2f_mou_7', 'loc_ic_t2f_mou_8', 'loc_ic_t2f_mou_9', 'loc_ic_mou_6', 'loc_ic_mou_7', 'loc_ic_mou_8', 'loc_ic_mou_9', 'std_ic_t2t_mou_6', 'std_ic_t2t_mou_7', 'std_ic_t2t_mou_8', 'std_ic_t2t_mou_9', 'std_ic_t2m_mou_6', 'std_ic_t2m_mou_7', 'std_ic_t2m_mou_8', 'std_ic_t2m_mou_9', 'std_ic_t2f_mou_6', 'std_ic_t2f_mou_7', 'std_ic_t2f_mou_8', 'std_ic_t2f_mou_9', 'std_ic_t2o_mou_6', 'std_ic_t2o_mou_7', 'std_ic_t2o_mou_8', 'std_ic_t2o_mou_9', 'std_ic_mou_6', 'std_ic_mou_7', 'std_ic_mou_8', 'std_ic_mou_9', 'total_ic_mou_6', 'total_ic_mou_7', 'total_ic_mou_8', 'total_ic_mou_9', 'spl_ic_mou_6', 'spl_ic_mou_7', 'spl_ic_mou_8', 'spl_ic_mou_9', 'isd_ic_mou_6', 'isd_ic_mou_7', 'isd_ic_mou_8', 'isd_ic_mou_9', 'ic_others_6', 'ic_others_7', 'ic_others_8', 'ic_others_9']

Replaced missing values with 0 for 62 outgoing columns:['loc_og_t2o_mou', 'std_og_t2o_mou', 'roam_og_mou_6', 'roam_og_mou_7', 'roam_og_mou_8', 'roam_og_mou_9', 'loc_og_t2t_mou_6', 'loc_og_t2t_mou_7', 'loc_og_t2t_mou_8', 'loc_og_t2t_mou_9', 'loc_og_t2m_mou_6', 'loc_og_t2m_mou_7', 'loc_og_t2m_mou_8', 'loc_og_t2m_mou_9', 'loc_og_t2f_mou_6', 'loc_og_t2f_mou_7', 'loc_og_t2f_mou_8', 'loc_og_t2f_mou_9', 'loc_og_t2c_mou_6', 'loc_og_t2c_mou_7', 'loc_og_t2c_mou_8', 'loc_og_t2c_mou_9', 'loc_og_mou_6', 'loc_og_mou_7', 'loc_og_mou_8', 'loc_og_mou_9', 'std_og_t2t_mou_6', 'std_og_t2t_mou_7', 'std_og_t2t_mou_8', 'std_og_t2t_mou_9', 'std_og_t2m_mou_6', 'std_og_t2m_mou_7', 'std_og_t2m_mou_8', 'std_og_t2m_mou_9', 'std_og_t2f_mou_6', 'std_og_t2f_mou_7', 'std_og_t2f_mou_8', 'std_og_t2f_mou_9', 'std_og_t2c_mou_6', 'std_og_t2c_mou_7', 'std_og_t2c_mou_8', 'std_og_t2c_mou_9', 'std_og_mou_6', 'std_og_mou_7', 'std_og_mou_8', 'std_og_mou_9', 'isd_og_mou_6', 'isd_og_mou_7', 'isd_og_mou_8', 'isd_og_mou_9', 'spl_og_mou_6', 'spl_og_mou_7', 'spl_og_mou_8', 'spl_og_mou_9', 'og_others_6', 'og_others_7', 'og_others_8', 'og_others_9', 'total_og_mou_6', 'total_og_mou_7', 'total_og_mou_8', 'total_og_mou_9']

In [98]:
# Recharge related columns
rech_cols = [col for col in cust.columns if re.match('^count_rech_|^max_rech_|^total_rech_|^av_rech_', col)]
cust[rech_cols] = cust[rech_cols].fillna(0)
print(f'Replaced missing values with 0 for {len(rech_cols)} recharge columns :{rech_cols}')

Replaced missing values with 0 for 32 recharge columns :['total_rech_num_6', 'total_rech_num_7', 'total_rech_num_8', 'total_rech_num_9', 'total_rech_amt_6', 'total_rech_amt_7', 'total_rech_amt_8', 'total_rech_amt_9', 'max_rech_amt_6', 'max_rech_amt_7', 'max_rech_amt_8', 'max_rech_amt_9', 'total_rech_data_6', 'total_rech_data_7', 'total_rech_data_8', 'total_rech_data_9', 'max_rech_data_6', 'max_rech_data_7', 'max_rech_data_8', 'max_rech_data_9', 'count_rech_2g_6', 'count_rech_2g_7', 'count_rech_2g_8', 'count_rech_2g_9', 'count_rech_3g_6', 'count_rech_3g_7', 'count_rech_3g_8', 'count_rech_3g_9', 'av_rech_amt_data_6', 'av_rech_amt_data_7', 'av_rech_amt_data_8', 'av_rech_amt_data_9']

In [99]:

# OFFNET/ONNET MOU related columns
mou_cols = [col for col in cust.columns if re.match('^onnet_mou|^offnet_mou', col)]
cust[mou_cols] = cust[mou_cols].fillna(0)
print(f'Replaced missing values with 0 for {len(mou_cols)} OFFNET/ONNET MOU columns :{mou_cols}')

Replaced missing values with 0 for 8 OFFNET/ONNET MOU columns :['onnet_mou_6', 'onnet_mou_7', 'onnet_mou_8', 'onnet_mou_9', 'offnet_mou_6', 'offnet_mou_7', 'offnet_mou_8', 'offnet_mou_9']

In [100]:

# arpu related columns
arpu_cols = [col for col in cust.columns if re.match('^arpu', col)]
cust[arpu_cols] = cust[arpu_cols].fillna(0)
print(f'Replaced missing values with 0 for {len(arpu_cols)} arpu columns :{arpu_cols}')

Replaced missing values with 0 for 12 arpu columns :['arpu_6', 'arpu_7', 'arpu_8', 'arpu_9', 'arpu_3g_6', 'arpu_3g_7', 'arpu_3g_8', 'arpu_3g_9', 'arpu_2g_6', 'arpu_2g_7', 'arpu_2g_8', 'arpu_2g_9']

In [101]:
# date related columns
date_cols = [col for col in cust.columns if re.match('^date|^last_date', col)]
date_cols

['last_date_of_month_6',
 'last_date_of_month_7',
 'last_date_of_month_8',
 'last_date_of_month_9',
 'date_of_last_rech_6',
 'date_of_last_rech_7',
 'date_of_last_rech_8',
 'date_of_last_rech_9',
 'date_of_last_rech_data_6',
 'date_of_last_rech_data_7',
 'date_of_last_rech_data_8',
 'date_of_last_rech_data_9']

### Handle date columns

In [148]:
cust.shape

(99999, 219)

In [102]:
# Change data type of date columns to datetime
date_cols = [col for col in cust.columns if re.match('^date|^last_date', col)]
cust[date_cols] = cust[date_cols].apply(pd.to_datetime)

In [103]:
# For each month, convert the recharge date to number of days before the last date.
# Fill missing values with no. of days in the month
month_suffixes = [6,7,8,9]
for month in month_suffixes:
    last_date_month = f'last_date_of_month_{month}'
    date_last_rech = f'date_of_last_rech_{month}'
    date_last_rech_data = f'date_of_last_rech_data_{month}'
    last_rech_days = f'last_rech_days_{month}'
    max_days_month = 30 if month in [6,9] else 31
    
    # Create the columns for days since any recharge has been done from the last date of the month
    # Eg: if last_rech_days = 2, user has recharged 2 days before the last day of the month
    cust[last_rech_days] = (cust[last_date_month] - cust[[date_last_rech,date_last_rech_data]].max(axis=1)).dt.days

    # Fill missing values with maximum days possible for the month
    cust[last_rech_days]=cust[last_rech_days].fillna(max_days_month)

In [104]:
# drop date columns after creating the days columns
cust.drop(date_cols,inplace=True,axis=1)

In [149]:
cust.shape

(99999, 219)

In [105]:
print_missing_columns(cust)

                  Missing  Missing %           Type  Unique Count
night_pck_user_6    74846  74.846748  <class 'str'>             2
fb_user_6           74846  74.846748  <class 'str'>             2
night_pck_user_7    74428  74.428744  <class 'str'>             2
fb_user_7           74428  74.428744  <class 'str'>             2
night_pck_user_9    74077  74.077741  <class 'str'>             2
fb_user_9           74077  74.077741  <class 'str'>             2
night_pck_user_8    73660  73.660737  <class 'str'>             2
fb_user_8           73660  73.660737  <class 'str'>             2

### IterativeImputer

In [107]:
# # Use fancy imputer to fill the rest of the missing colums (fb_user_* and night_pck_user_* columns)
# from fancyimpute import KNN
# knn_imputer = KNN()
# # imputing the missing value with knn imputer
# cust = knn_imputer.fit_transform(cust)

In [109]:
# Use iterative imputer to fill the rest of the missing colums (fb_user_* and night_pck_user_* columns)
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
iter_imputer = IterativeImputer()

fb_night_cols = [col for col in cust.columns if re.match('^fb_user_|^night_pck_user_', col)]

cust[fb_night_cols] = iter_imputer.fit_transform(cust[fb_night_cols])

/Users/le0080/.pyenv/versions/3.6.6/lib/python3.6/site-packages/sklearn/impute/_iterative.py:686: ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached.
  " reached.", ConvergenceWarning)

In [110]:
print_missing_columns(cust)

'NO MISSING VALUES IN THE DATAFRAME'

## Check data types

In [ ]:
cust.info()

## Check for outliers

# Target Variable Creation

## Create Target variable from 9th Month

Create the target variable based on the below rule:
 
Tag the churned customers (churn=1, else 0) based on the fourth month as follows: Those who have not made any calls (either incoming or outgoing) AND have not used mobile internet even once in the churn phase. The attributes you need to use to tag churners are:

total_ic_mou_9,
total_og_mou_9,
vol_2g_mb_9,
vol_3g_mb_9

In [114]:
cust.head()

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,arpu_6,arpu_7,arpu_8,arpu_9,onnet_mou_6,...,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g,last_rech_days_6,last_rech_days_7,last_rech_days_8,last_rech_days_9
0,7000842753,109,0.0,0.0,0.0,197.385,214.816,213.803,21.100,0.00,...,0.993269,968,30.4,0.0,101.20,3.58,9.0,15.0,23.0,2.0
1,7001865778,109,0.0,0.0,0.0,34.047,355.074,268.321,86.285,24.11,...,0.988699,1006,0.0,0.0,0.00,0.00,1.0,0.0,3.0,0.0
2,7001625959,109,0.0,0.0,0.0,167.690,189.058,210.226,290.714,11.54,...,1.000000,1103,0.0,0.0,4.17,0.00,13.0,7.0,17.0,1.0
3,7001204172,109,0.0,0.0,0.0,221.338,251.102,508.054,389.500,99.91,...,0.836040,2491,0.0,0.0,0.00,0.00,2.0,0.0,0.0,0.0
4,7000142493,109,0.0,0.0,0.0,261.636,309.876,238.174,163.426,50.31,...,-0.014127,1526,0.0,0.0,0.00,0.00,4.0,3.0,22.0,2.0

In [127]:

cust['churn'] = (cust['total_ic_mou_9']+cust['total_og_mou_9']+cust['vol_2g_mb_9']+cust['vol_3g_mb_9']) == 0
cust['churn']=cust['churn'].map({True:1,False:0})

In [128]:
cust['churn'].value_counts()

0    89808
1    10191
Name: churn, dtype: int64

## Remove 9th month variables

In [146]:
cust.shape

(99999, 219)

In [150]:
# drop the columns with _9, they should not be used while training the model.

month_9_cols = [col for col in cust.columns if re.search('_9$', col)]
cust.drop(month_9_cols,inplace=True,axis=1)

In [151]:
cust.shape

(99999, 167)

Remove the 9th month variables after creating the target variables. Would otherwise lead to data leakage.

# Identify High Value Customers

## Find average of M6,M7

## Identify value at 70th percentile

## Flag high value customers

Should be ~29.9k

# EDA

## Target variable analysis

## Univariate analysis

## Bivariate analysis

## Heat map/correlation matrix

# Derive new features

## average usage - 3 months

## Good phase vs Action phase

# Handle class imbalance

## Oversampling

## SMOTE

# Train-test split

# Model building 1 - PCA

## PCA for dimensionality reduction

## Model building - PCA

### Default Model Building

1. 8 models? <br>
2. Evaluate on train & test data <br>
3. Fill metrics - Accuracy, Precision, Recall, F1-score, AUROC?

### Model building with HPT

### Model on oversampled data

### Model on SMOTE data

### Model on (SMOTE + HPT)

# Model building 2 - without PCA

# Insights

## Best Model - with PCA

Finally, choose a model based on some evaluation metric.

## Important features

After identifying important predictors, display them visually - you can use plots, summary tables etc. - whatever you think best conveys the importance of features.

## Conclusion - recommendation to manage customer churn

Finally, recommend strategies to manage customer churn based on your observations.